/* @override http://192.168.1.2:8080/survivalkit.css */

/* @group Layout */

body {
  margin: 0;
  padding: 2ex 0;
  font-family: verdana, sans-serif;
  font-size: 80%;
}

#background {
  position: absolute;
  width: 100%;
  height: 14ex;
  top: 0;
  left: 0;
  background: #0d5613;
  border-bottom: 2ex solid #c0c0c0;
  z-index: 0;
}

#wrapper {
  text-align: center;
  z-index: 1;
}

#content {
  position: relative;
  margin: 0 auto;
  width: 72em;
  text-align: left;
  z-index: 2;
}

#page {
  margin: 0 0 2ex 0;
  padding: 4ex 2em 4ex 145px;
  border: 2px solid #2d7633;
  border-top: 2ex solid #2d7633;
  background: #eeeeee url(/jyy.png) no-repeat 1em;
}

/* @end */

/* @group Basic */

h1 {
  margin-top: 0px;
  font-size: 140%;
  color: #0D5613;
}

h2 {
  padding: 1ex 1em;
  font-size: 120%;
  background: #eeeeee;
  color: #0D5613;
}

h3, h4, h5, h6 {
  font-size: 100%;
}

dt {
  margin-left: 1.2em;
  font-weight: bold;
}

th {
  text-align: left;
}

ul {
  list-style-type: square;
}

ul li {
  margin-bottom: 0.5em;
}

ol li {
  margin-bottom: 1em;
}

table {
  margin: 0 1em;
  border-collapse: collapse;
}

table td {
  padding: 2px 0 2px 0;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.error-message {
  margin: 2ex 0px;
  color: #aa0000;
}

/* @end */

/* @group Order Form */

table#kit-orders {
  width: 70em;
}

table#kit-orders td {
  vertical-align: bottom;
}

table#kit-orders tr {
  border-bottom: 1px solid white;
}

table#kit-orders .removable {
  margin-top: -2.5ex;
  padding-left: 16px;
  color: red;
  background: url("/remove.png") no-repeat;
  cursor: pointer;
}

table#kit-orders tr.removing {
  border-bottom: 1px solid red;
}

input#add-student, input#place-orders, input#remove-kits {
  padding: 8px 8px 8px 30px;
  border: 1px solid grey;
  background: white;
  cursor: pointer;
}

input#add-student:hover, input#place-orders:hover, input#remove-kits:hover {
  text-decoration: underline;
}

input#add-student {
  background: url("/add.png") 4px no-repeat;
}

input#place-orders {
  background: url("/order.png") 4px no-repeat;
}

input#remove-kits {
  background: url("/remove.png") 4px no-repeat;
}

/* @end */

/* @group Management Screen */

#management-help {
  position: relative;
  float: left;

  margin: 0 0 2ex 0;
  padding: 2ex 2em 2ex 2em;
  width: 26em;

  background: #eeeeee ;
  border: 2px solid #2d7633;
  border-top: 2ex solid #2d7633;
}

#management-form {
  position: relative;
  margin: 0 0 0 32em;
  padding: 0px 20px 20px 20px;
  border: 2px solid #aaaaaa;
  background: #ffffff;
  border-top: 14px solid #aaaaaa;
  z-index: 10;
}

#management-form h2 {
  margin: 1ex -20px;
}

#management-help h2 {
  margin: 1ex -15px;  
}
#management-form .instruction-item textarea + input {
  position: absolute;
}

#management-form td {
  vertical-align: top;
}

input#download-orders, input#add-date, input#add-duration, input#add-instruction, input.save-instruction {
  padding: 8px 8px 8px 30px;
  border: 1px solid grey;
  background: white;
  cursor: pointer;
}

input#add-date:hover, input#add-duration:hover, input#add-instruction:hover, input.save-instruction:hover {
  text-decoration: underline;
}

input#add-date, input#add-duration, input#add-instruction {
  background: url("/add.png") 4px no-repeat;
}

input#download-orders, input.save-instruction {
  background: url("/order.png") 4px no-repeat;
}

/* @end */